doctype HTML5
html
  head
    title=appName
    //- todo: add meta tags
    link(rel='stylesheet', href='/index.css')
  body
    header
    .content
      //- todo: spinner
      h2 O hai
    footer
    script(src='/app.js')
    //- todo: ga snippet, google fonts
